@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-normal {
    @apply text-[0.9rem];
  }
}

:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
html {
  scroll-behavior: smooth !important;
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

body {
  background: linear-gradient(to bottom, #0f172a, #101e40);
}

@media only screen and (max-width: 768px) {
  body {
    background: linear-gradient(to right, #0f172a, #101e40);
  }
}

a {
  transition: all 0.2s ease;
}

a.link div,
a.link span {
  transition: all 0.2s ease;
}

a.link:hover div {
  width: 6rem;
  transition: all 0.2s ease;
}

a.link:hover span {
  color: #e2e8f0;
  transition: all 0.2s ease;
}
